 html, body {
    margin: 0;
    padding: 0;
    font-family:  Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
    color: #224400;
  }
  
  #header {
    margin-bottom: 4em;
  }
  
  #header * {
    margin: 0;
  }
  
  #header > h1 
  {
    margin-top: 20px;
    font-size: 4em;
    color: #440000;
  }
  
  #header > p 
  {
    margin-top: 10px;
    margin-left: 80px;
  }
  
  #nav {
    position:absolute;
    top: 10em;
    left:10px;
    width:13em;
  }
  
  #footer 
  {
    position:fixed;
    background:#cccccc;
    opacity:0.7;
    padding: 3px 10px 3px 10px;
    width:100%;
    top:auto;
    right:0;
    bottom:10px;
    left:0;
  }
  
  #footer > p 
  {
    margin:0;
    padding:0;
  }
  
.page {
  margin-left:12em;
  margin-right:8em;
  margin-bottom:50px;
  padding:0 3em 1em;
}
  
div.content_header {
 margin-bottom: 2em;
}
  
div.content_header > h1 {
  border-bottom: thin solid #777777;
  margin: 0;  
}
  
div.content_header > h2 
{
  border
  border-bottom: thin solid #000000;
  margin: 0;
}
  
div.content_header > p {
  text-align: right;
  margin: 0;
}
  
.content 
{
	margin-bottom: 30px;
}

.content_body 
{
    margin-left:5em;
    margin-right:5em;
}

.content_body > p 
{
    margin-bottom: 2em;
}

.content_body > ul 
{
    list-style-type: square;
}

.content_body > ul li
{
    margin-bottom:1.5em;
}

.content_body > p:first-letter {
 font-size: 150%;
 font-family :  garamond, bodoni, curly, times, serif;
 text-transform:uppercase;
 margin-left : 10px;
 margin-bottom: 2px;
}

        
a {
  text-decoration: none;
  color: #0044BB;
}
  
a:hover {
  text-decoration: underline;
}
  
a.tagcloud1 { font-size: 0.8em; font-weight: 100; }
a.tagcloud2 { font-size: 1.2em; font-weight: 200; }
a.tagcloud3 { font-size: 1.6em; font-weight: 300; }
a.tagcloud4 { font-size: 2.0em; font-weight: 400; }
a.tagcloud5 { font-size: 2.1em; font-weight: 500; }
a.tagcloud6 { font-size: 2.3em; font-weight: 600; }
a.tagcloud7 { font-size: 2.5em; font-weight: 700; }
a.tagcloud8 { font-size: 2.7em; font-weight: 800; }

.alert {
	background: #fff6bf url(/files/images/info.png) center no-repeat;
	background-position: 10px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 20px 5px 50px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
}

label.error {
	color: red;
	font-style: italic
}

div.comment_body h1, div.comment_body h2, div.comment_body h3 
{
  font-size:1.1em;
}