obj
bin
publish
db data
_ReSharper.*
*.user
*.resharper
*.ReSharper
*.suo
*.cache
*.~
*.swp
test.htm
test2.htm
test2_files
WebRelease.config
readme.html
rf.ico
Rf.Sites/files/images/*.*
Rf.Sites.Build.dll
ForbiddenTests.cs
CommentMigrator/packages
packages
fubu-content
dropboxapikeys.txt