obj
bin
publish
db data
_ReSharper.*
*.user
*.resharper
*.ReSharper
*.suo
*.cache
*.~
*.swp
test.htm
test2.htm
test2_files
WebRelease.config
*.nupkg
rf.ico
Rf.Sites/files/images/*.*
Rf.Sites.Build.dll
ForbiddenTests.cs
CommentMigrator/packages
packages/Fubu*/src