<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RfSite" connectionString="Data Source=tcp:s01.winhost.com;Initial Catalog=DB_2522_rfsite;User ID=DB_2522_rfsite_user;Password=g3zycfnWsksb7zF7epwl;Integrated Security=False;" />
  </connectionStrings>
</configuration>