<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PaginationSettings.ItemsPerPage" value="4" />
    <add key="PaginationSettings.ItemsPerFeed" value="10" />
    <add key="SiteSettings.AttachmentDropZone" value="files" />
    <add key="SiteSettings.SiteAuthor" value="Frank Quednau" />
    <add key="SiteSettings.SiteTitle" value="realfiction" />
    <add key="SiteSettings.SiteCopyright" value="All content hosted by this site is written by F Quednau. Reproduction only under consent" />
    <add key="SiteSettings.DisqusSiteIdentifier" value="rflocalhosttest" />
    <add key="SiteSettings.DisqusDeveloperMode" value="1" />
    <add key="SubdomainSettings.ModelQualifiedName" value="Rf.Sites.Features.Models.{0}, Rf.Sites" />
    <add key="SubdomainSettings.Site1" value="me=PersonalEntryModel" />
    <add key="AdminSettings.AdminToken" value="token" />
  </appSettings>
  <connectionStrings>
    <add name="RfSite" connectionString="Server=.\DEV2012;Database=DB_2522_rfsite;Trusted_Connection=True;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spark" publicKeyToken="7f8549eed921a12c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!-- To prevent static content from being run thru ASP.NET, we want to set runAllManagedModulesForAllRequests="false"
			   However, UrlRoutingModel will stop working, unless you patch IIS to support extensionless routing (introduced in .NET 4)
			   Download the patch at http://support.microsoft.com/kb/980368  -->
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>