twitterbootstrap includes twitter/bootstrap.min.css, twitter/bootstrap-responsive.min.css
twitterstyles includes twitter/bootstrap.min.css, twitter/bootstrap-responsive.min.css
twitterbootstrap includes twitter/bootstrap.min.js
twitter/bootstrap.min.js requires jquery

twitter/bootstrap-transition.js requires twitter/bootstrap.min.js
twitter/bootstrap-collapse.js requires twitter/bootstrap.min.js, twitter/bootstrap-transition.js

twitter/activate-collapsible.js requires twitter/bootstrap-collapse.js, twitterstyles
twitter/bootstrap-modal.js requires twitterstyles, twitterbootstrap

twitter/bootstrap-affix.js requires twitter/bootstrap.min.js
